:root{
    /*Tùy màu mọi người thích*/
    --main-color: #163056;
    --text-color: white;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Inter,sans-serif;
}

.m-10{
    margin: 10px;
}
.p-10{
    padding: 10px;
}

/*Header CSS*/
.header {
    top: 0;
    width: 100%;
    background-color: var(--main-color);
}

.header__container {
    height: 7vh;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 20px;
}

.header__logo i{
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/*Sidebar CSS*/
.sidebar {
    position: fixed;
    left: 0;
    width: 16vw;
    height: 100%;
    background-color: var(--main-color);
    transition: width 0.5s ease;
    overflow: clip;
}
.sidebar-title {
    font-size: 30px;
    padding: 20px 20px;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
}

.sidebar-menu li{
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    white-space: nowrap;
}
.sidebar-menu a{
    color: var(--text-color);
    font-size: 20px;
    display: block;
    padding: 8px 0 8px 20px;
}
.sidebar-menu a:hover{
    background-color: var(--text-color);
    color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px 0 0 40px;
    transition: all 0.4s ease;
}
.sidebar-menu a i{
    padding-right: 10px;
}