.home-page{
    width: 100vw;
    height: 100vh;
}

.overview{
    display: flex;
    justify-content: space-around;
    margin: 2vh;
}
.card{
    width: 25%;
    height: 22vh;
    color: var(--text-color);
    margin: 2vh;
    position: relative;
}
.card__detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}
.card-info h1{
    font-size: 40px;
}
.card-icon{
    font-size: 70px;
}
.card__link{
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.card__link a{
    color: var(--text-color);
}

.overview-list{
    max-height: 67vh;
    margin: 2vh;
}
.room-list,.request-list{
    width: 39vw;
    margin: 0 2vh;
    display: inline-block;
}
.request-list{
    float: right;
}
.overview-list__name{
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid grey;
}
.overview-list__table{
    width: 100%;
}
.overview-list__table th{
    font-size: 20px;
    height: 5vh;
}
.overview-list__table td{
    text-align: center;
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 10vw;
}